#keyboard = win-us-c64.kbd
#zoom = 2
#fullscreen = no
columns = 40
#localecho = no
#senddelay = 5
#recvdelay = 0
#reconnect = 0
#logfile =
#host =
#port =
#sound = yes
#debug = no
#xferdir =
#dldir =
bookmark = FRoZEN FLoPPY BBS, bbs.retrohack.se, 64128
bookmark = ANTiDOTE, antidote.triad.se, 64128
bookmark = Boar's Head Tavern, byob.hopto.org, 64128
bookmark = Dark Endless,darkendlessbbs.hopto.org, 6510
bookmark = Dead Zone, dzbbs.hopto.org, 64128
bookmark = Fria Bad BBS, friabad.hopto.org, 64128
bookmark = The Hidden, the-hidden.hopto.org, 64128
bookmark = Rapid Fire BBS, rapidfire.hopto.org, 64128
bookmark = Raveolution, raveolution.hopto.org, 64128
bookmark = The Valley, valley64.com, 6400
